<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.example.springbootsamplemybatis.mapper.PersonMapper">

    <!-- 所有列 -->
    <sql id="Column_list">
        id,
        name,
        age,
        address
    </sql>

    <resultMap id="PersonMap" type="com.example.springbootsamplemybatis.domain.Person" >
        <id  column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 根据ID查询数据 -->
    <select id="get" parameterType="int" resultMap="PersonMap">
        SELECT <include refid="Column_list" />
        FROM person
        WHERE age = #{age}
    </select>
</mapper>